.button-style {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  background-color: #646cff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-style:hover {
  background-color: #535bf2; 
}

.button-style:active {
  background-color: #4244c8; 
}

