#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0; 
}

body {
  font-family: 'Inter', sans-serif; 
  background-image: url('/gradientBG.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.input-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1.5rem; 
}

.dailywins {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}