#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0; 
}

body {
  font-family: 'Inter', sans-serif; 
  background-image: url('/gradientBG.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
}

.input-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1.5rem; 
}

.dailywins {
  position: absolute; /* Allows precise positioning */
  left: 50%; /* Move to the horizontal center */
  transform: translateX(-50%); /* Adjust for centering */
  text-align: center;
  color: white;
}

.view-logs{
  position: absolute;
  color: white;
  right: 1px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
}

